<html>
    <head>
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    </head>
    <body>
        {% if error %}
           {{error }}
        {% endif %}
        <div>
            <center>
                <br><br><br>
                <button type="submit" class="btn btn-primary"><a href ="{{url_for('users.home')}}">Home</a></button>
                <br><br>
                <button type="submit" class="btn btn-primary"><a href ="{{url_for('users.logout')}}">Logout</a></button>
                <br><br>
                <button type="submit" class="btn btn-primary"><a href ="{{url_for('product.edit_products')}}">Edit Products</a></button>
                <div class="login-page">
                    <div class="form">
                        <form class="login-form" name="add_product" method="post"  action="{{url_for('product.add_product')}}" enctype="multipart/form-data" accept-charset="UTF-8" validate>
                            <input type="text" placeholder="Title" name="title" value="{{request.form['title']}}" required/>	
                            <input type="text" placeholder="Description" name="description" value="{{request.form['description']}}" required/>
                            <input type="text" placeholder="Price" name="price" value="{{request.form['price']}}" required/>
                            <input type="text" placeholder="Quantity" name="quantity" value="{{request.form['quantity']}}" required/>

                            <input type="file" name="product_image[]" id="product_image" multiple required/>

                            <button>Add Product</button>
                        </form>
                    </div>
                </div>
            </center>
        <div>
    </body>
</html>